@import "_animations.scss";
body {
    overflow-x: hidden;
}
ul {
    margin-right: auto;
  margin-left: auto;
}
li {
    padding-left: 20px;
}
.padding-top {
    padding-top: 7vh;
}
#logo {
    width: 30px;
}
.navbar {
/*     position: fixed;
 */    width: 100vw;
    z-index: 999;

}
#iphoneX {
    width: 100%;
    padding: 20vh 0 20vh 0;
}
#macbookpro {
    width: 100%;
    animation: animate 2s;

}

#macbook-container {
    width: 100vw;
    background-color: #000;

}

#events {
    background-color: #000;
    color: #fff;
    border: 10px solid #fff;
    img {
        width: 100%;
    }
}

#behind {
    background-image: url("../../src/img/using-macbook.jpg");
    background-size: cover;
    height: 515px;
    color: #fff;
    -webkit-text-stroke: 1px #000;
    border: 10px solid #fff;
}

span {
    color: red;
    font-weight: bold;
}

footer {
    background-color: #000;
    color: #fff;
    height: 10vh;
    margin-top: 50px;
}

#macstudy {
    background-color: #EEEEEE;
    border: 10px solid #fff;
}

#iwatch{
    background-color: #FAFAFA;
    border: 10px solid #fff;
}

#iphone8con {
    background-color: #F9F0EB;
    border: 10px solid #fff;
}

#airpods {
    background-color: #F9F0EB;
    border: 10px solid #fff;
}

.container-fluid img {
    width: 100%;
}