body{
	background-color: white;
	padding: 0;
	margin: 0;
}

strong {
	color: #E26837;
}
 
a{
	text-decoration: none;
	color: #737373;
}

a:hover {
	color: #91BD80;
}
img{
	width: 100%;
	height:auto;
}

button {
	background-color: #E26837;
	border-radius: 4px;
	border: none;
	padding: 6px 10px 6px 10px;
	color: white;
	font-weight: bold;
}

h3{
	color: #65ff33;
}

@font-face{
	font-family: sourceSansPro;
	src: url(../fonts/SourceSansPro-Black.otf);
	font-weight: normal;
	font-style: normal;
}

/*Preloader*/

.preloader{
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status{
	background: url(../images/burger.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

/*header*/

header{
	color: #848484;
	padding: 10px 10% 10px 10%;
	font-size: 18px;
}

#logo{
	width: 170px;
	height: 34px;
	float: left;
	padding-right: 50%;
	padding-top: 10px;
}

/*Nav*/
nav{
	padding: 10px 10% 10px 8%;

}
.navBar{
	list-style-type: none;
	float: left;
	font-family: sourceSansPro;
}

.navBar li{
	display: inline;
	padding-right: 46px;
}

.login{
	list-style-type: none;
	text-align: right;
}

.login li{
	display:inline;
	padding-right: 30px;
}
#banner{
	width: 100%;
}
.visible {
	display: none;
}
.navBar ul{
	display: none;
	position: absolute;
	background-color: black;
}

.sideMenu li{
	display: block;
}

.sideMenu{
	margin-left: 5.5%;
	padding-left: 1px;
	padding-right: 0;
}
/*Search*/
.search{
	color: white;
	background: #ffffff url("../images/banner.jpg") no-repeat;
	background-size: 100% 100%;
	font-family: sourceSansPro;
	font-size: 14px;
}

.location{
	padding: 245px 0 112px 0;
	text-align: center;
	font-weight: bold;
}

.location input{
	margin: 0 30px 0 0;
	padding: 5px 5px 5px 5px;
	border-radius: 4px;
}

button[type=submit]{
	background-color: #91BD80;
	border-radius: 4px;
	border: none;
	padding: 6px 10px 6px 10px;
}

#submit1 a{
	color: white;
}

/*row1*/
#row{
	width: 30%;
	margin: 45px auto 0 30%;
}


#steps{
	width: 60%;
	margin: 45px auto 0 20%;
}

/*row2*/

.offers{
	padding-left: 15%;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 100px;
	background-color: #f1f1f1;
}
.container {
	display: inline-block;
	color: #737373;
	background: white;
	width: 30%;
}

.container h3 {
	font-family: sourceSansPro;
	font-size: 15px;
}

#grabit a {
	color: white;
}

#panelImg{
	width: 40%;
	float: left;
	padding-right: 30px;
	border-radius: 4px;
	padding: 3px auto 3px 3px;
}

#row2{
	width: 50%;
	margin: 45px auto 40px 15%;
	display: block;
}

/*row 3*/

 #menu{
 	width: 75%;
 	padding-left: 15%;
 	padding-top: 5%;
 	padding-bottom: 5%;
 }

 #smallbanner{
 	width: 75%;
 	padding: 2% 0 2% 15%;
 }

 #ordersystem {
 	padding: 2% 5% 2% 24%;
 	width: 60%;
 }

/*Footer*/

 footer {
 	background-color: #777777;
 	padding-bottom: 20px;
 }

.sitelinks{
	display: inline-block;
	margin:5% 0 5% 10%;
}
 .sitelinks h3 {
 	color: white;
 	font-family: sourceSansPro;
 }

 .sitelinks {
 	color: #91BD80;
 }

.sitelinks a {
 	color: #A9A9A9;
 }

 .sitelinks li{
 	color: #91BD80;
 }

#newsletter{
	padding-top: 20px;
}
 #newsletter li{
 	display: block;
 	padding-bottom: 20px;
 }
 
 #newsletter label{
 	color: #A9A9A9;
 }
#copyright {
 	color: #91BD80;
 	text-align: center;
 	margin-bottom: 20px;
 }

 #email {
 	border-color: #A9A9A9;
 	border-radius: 4px;
 	background-color: #777777;
 	border-style: solid;
 	padding: 4px;
 }
/*screen size*/
@media(max-width: 1200px) {
	.search {
		color: white;
		background: #ffffff url("../images/banner.jpg") no-repeat;
		background-size: 100% auto;
	}

	.location{
		padding: 100px 0 50px 0;
		text-align: center;
	}
}