$primaryColor: #08b4da ;

#contact{
    background-image: url(../img/contact-banner.jpg);
    background-size: cover;
    height: fit-content;
    h1{
        color:$primaryColor;
    }
    p{
        color:#AA9DBA;
    }
    .form {
        display: block;
        text-align: center;
        form{
            font-size: 1em;
            display: inline-block;
            margin: auto;
            text-align: left;
        }
    }
    #contactDetails{
        background-color: $primaryColor;
        color:#fff;
        padding: 20px;
        font-size: 2rem;
        height: fit-content;
        p{
            color:#fff;
            font-weight: bold;
        }
    }
}