$primaryColor: #08b4da;

#services {
  background: $primaryColor;
  color: #fff;
  p {
    font-size: 18px;
    line-height: 1.4em;
    color: #d8faf5;
    font-weight: bold;
  }
  h5 {
    font-weight: bold;
  }
}
